*.iml
.idea
node_modules
*.log
target/
*.data
*.jar
dependency-reduced-pom.xml
.flattened-pom.xml
gis-service/
.classpath
.factorypath
.project
.vscode
.settings
classpath-data.json
docker-compose.yml